@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

.header {
  background: url(../assets/images/header__background.png) center no-repeat;
  background-size: cover;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 6rem;
}

.header__logo-icon {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__nav {
  color: #3d2514;
}

.header__text-number {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  margin-bottom: 4rem;
  position: relative;
}
.header__text-number::before {
  content: "";
  position: absolute;
  background: url(../assets/images/header__text-num.png) center no-repeat;
  right: 25.5rem;
  top: -15px;
  width: 45px;
  height: 45px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
}

.header__menu-item {
  margin-left: 5rem;
}

.header__menu-link:visited {
  color: #3d2514;
}

.header__about {
  display: flex;
  align-items: center;
}

.header__item {
  flex: 1 1 50%;
}