@import "_reset";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');


:root{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}

html{
    font-size: 10px;
}


.back_to_top{
    position: fixed;
    bottom: 8rem;
    right: 4rem;
    font-size: 40px;
    background-color: #e67818be;
    padding: 1.2rem 2.3rem 1.6rem;
    border-radius: 50%;
    z-index: 10000;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;
}
.back_to_top-active{
    display: block;
    opacity: 1;
    transition: opacity .2s;
}


.header {
    background: url(../assets/images/header__background.png) center no-repeat;
    background-size: cover;

    padding-bottom: 6rem;
}
.header__container {
    display: flex;
    justify-content: space-between;
    padding: 5rem 6rem;
    margin-bottom: 8rem;
    position: relative;
}
.header__logo {
}
.header__logo-icon {
    object-fit: cover;
}
.header__nav {
    color: #3d2514;
}
.header__text-number {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    margin-bottom: 4rem;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background: url(../assets/images/header__text-number.png) center no-repeat;
        right: 25.5rem;
        top: -15px;
        width: 45px;
        height: 45px;
    }
}
.header__menu {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
}
.header__menu-item {
    margin-left: 7rem;
}
.header__menu-link {
    color: #3d2514;
    &:visited{
        color: #3d2514;
    }
    &:hover{
        text-decoration: underline;
    }
    &:active{
        color: #281103;
    }
    &:focus{
        outline: none;
        text-decoration: underline;
    }
}
.header__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: 3.5rem;
}
.header__item {
    text-transform: uppercase;

    margin-top: 3rem;
}
.header__slogan {
    font-size: 2.4rem;
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    //Border https://kovart.github.io/dashed-border-generator/
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233D2514FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    //Border
    display: inline-block;
    padding: 1.4rem 1.5rem 1rem;
    margin-bottom: 1.5rem;
}
.header__title {
    font-size: 11.4rem;
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    text-shadow: 0.5rem 0.5rem 0 #fee7ba;
    white-space: space;
    position: relative;
}
.header__subtitle {
    font-size: 5.6rem;
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    position: absolute;
    bottom: -6rem;
    left: 0;
}
.header__image {
    position: relative;
    box-shadow: #ffde9d;
}
.header__image-price {
    max-width: 100%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    z-index: 1;
}
.header__image-burger{
    max-width: 100%;
    object-fit: cover;
}



.intro {
}
.intro__grid {
    display: grid;
    grid-template-areas:    "one one two two two"
                            "one one three three three";
    grid-template-rows: 25rem 25rem;
    gap: 5rem;
}
.intro-item {
    text-transform: uppercase;
    color: #fff;

    margin: 7rem 11rem;
}
.intro-item__one {
    grid-area: one;
    position: relative;
    background: url(../assets/images/intro__image-one.png) center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}
.intro-item__subtitle{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    margin-top: 3rem;
    margin-left: 3rem;
}
.intro-item__title {
    font-size: 4.2rem;
    font-family: 'Bebas Neue', cursive;
    margin-left: 3rem;
}
.intro-item__two {
    grid-area: two;
    background: url(../assets/images/intro__image-two.png) center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}
.intro-item__three {
    grid-area: three;
    background: url(../assets/images/intro__image-three.png) center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}




.choose {
    margin-bottom: 10rem;
}
.choose__slogan {
    display: inline-block;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Bebas Neue', cursive;
    background-color: #ffc045;
    color: #3d2514;
    font-size: 2.5rem;
    font-weight: bold;
    border: 0;
    padding: .8rem 2.5rem .6rem;
    margin-bottom: 3.5rem;
}
.choose__title-container {
    color: #3d2514;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.choose__title {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    margin-bottom: 2rem;
}
.choose__text {
    font-size: 1.6rem;
    margin-bottom: 5rem;
    line-height: 1.4;
}
.choose__cards {
    color: #3d2514;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.choose__card {
    flex: 1 1 33.333%;
}
.card {
}
.card__image {
    width: 45rem;
    height: 45rem;

    object-fit: contain;
}
.card__title {
    font-size: 3.7rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 1.5rem;
}
.card__text {
    font-size: 1.7rem;
    margin: 0 4rem 3.5rem;
    line-height: 1.2;
}
.card__button {
    font-size: 1.7rem;
    text-transform: uppercase;
    border: 0;
    padding: 1.6rem 2.8rem 1.4rem;
    background-color: #d11818;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    cursor: pointer;
    &:hover{
        background-color: #a81414;
    }
    &:active{
        background-color: #891111;
    }
    &:focus{
        background-color: #a81414;
        outline: none;
    }
}





.tab {
    margin-bottom: 10rem;
}
.tab__container {
    width: 80%;
    min-height: 480px;
    margin: 0 auto;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    padding: 0 4rem;
}
.tab-item {
    color: #3d2514;
    position: relative;
}
.tab-slider{
    width: 45%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0.9);
}
.tab-slider--active{
    opacity: 1;
    transform: scale(1);
    transition: transform .5s .1s, opacity .5s;
}
.tab__subtitle {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.tab__title {
    font-size: 4.2rem;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    margin-bottom: 2.8rem;
}
.tab__text {
    font-size: 2rem;
    line-height: 1.5;
}
.tab-item__two {
    padding: 0 0 2rem 4rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    min-height: 440px;
    overflow: hidden;
}
.tab-item__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.tab__selection {
    display: flex;
    width: 80px;
    justify-content: space-around;
    position: relative;
    bottom: -45rem;
}
.tab__selection-item {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #dcdcdc;
    cursor: pointer;
}
.tab__selection-item--active {
    background-color: #ffc045;
}






.order {
    margin-bottom: 10rem;
}
.order__container {
    color: #3d2514;
    position: relative;
}
.order__title-container {
    text-align: center;
}
.order__subtitle {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.order__title {
    font-size: 5rem;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    margin-bottom: 8rem;
}
.order__form {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    width: 50%;
    margin: 0 auto;
    gap: 2.5rem;
}
.order__input {
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    padding: 2.5rem;
    border-radius: 8px;
    border: 1px solid #3d2514;
    color: #464646;
    &::placeholder{
        color: #464646;
    }
}
.order__button {
    font-size: 2rem;
    text-transform: uppercase;
    border: 0;
    background-color: #d11818;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    &:hover{
        background-color: #a81414;
    }
    &:active{
        background-color: #891111;
    }
    &:focus{
        background-color: #a81414;
        outline: none;
    }
}
.order__image{
    position: absolute;
    max-width: 100%;
}
.order__image-one {
    object-fit: cover;
    top: 14rem;
    left: 0;
}
.order__image-two {
    object-fit: cover;
    top: -10rem;
    left: 0;
}
.order__image-three {
    object-fit: cover;
    right: 0;
    top: 0;
}





.footer {

}
.footer__container{
    width: 80%;
    margin: 0 auto;
    background: url(../assets/images/footer__background.png) center no-repeat;
    background-size: cover;
    color: #fff;

    display: grid;
    grid-template-areas:    "title locations"
                            "copy copylinks";
    gap: 15px;
    padding: 7rem 7rem 1rem;    
}
.footer__title-container {
    grid-area: title;
    margin-bottom: 11rem;
    width: 70%;
}
.footer__logo {
    margin-bottom: 5rem;
}
.footer__logo-image {
}
.footer__text {
    font-size: 1.6rem;
    line-height: 1.6;
}
.footer__locations {
    grid-area: locations;
    margin: auto 0;
}
.footer__locations-item {
    position: relative;
    margin-bottom: 2.5rem;
    a{
        text-decoration: none;
        color: #fff;
        &:visited{
            color: #fff;
        }
        &:hover{
            color: rgba(255, 255, 255, 0.497);
        }
        &:active{
            color: rgba(255, 255, 255, 0.279);
        }
        &:focus{
            color: rgba(255, 255, 255, 0.497);
            outline: none;
        }
    }
}
.footer__locations-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -4rem;
}
.footer__locations-text {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}
.footer__copy {
    grid-area: copy;
}
.footer__copyright {
    font-size: 1.6rem;
    text-transform: uppercase;  
}
.footer__copy-links {
    grid-area: copylinks;
    display: flex;
    position: relative;
}
.footer__copy-item {
    position: relative;
    bottom: 0;
    transition: .4s;
    &:not(:first-child){
        margin-left: 1rem;
    }
    &:hover{
        position: relative;
        bottom: 10px;
    }
}
.footer__copy-link {
    *{
        width: 25px;
    }
}









@media(max-width: 1024px){
    .header__container{
        margin-bottom: 0;
    }
    .header__item{
        text-align: center;
    }
    .header__subtitle{
        left: 50%;
        transform: translateX(-50%);
    }
    .header__menu-item{
        margin-left: 3rem;
    }
    .header__image-burger{
        margin-top: 12rem;
    }
    .order__form{
        width: 80%;
    }
    .order__title{
        margin-bottom: 5rem;
    }
    .order__image{
        display: none;
    }
}



@media(max-width: 768px){
    html{
        font-size: 8px;
    }
    .header__container{
        flex-direction: column;
    }
    .header__logo{
        text-align: center;
    }
    .header__menu{
        margin-top: 3rem;
    }
    .header__text-number{
        position: absolute;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        &::before{
            display: none;
        }
    }

}



/*
.header__menu-button, .header__menu-button::before, .header__menu-button::after{
    width: 50px;
    height: 8px;
    background-color: #c88a0edb;
    border-radius: 5px;
}
.header__menu-button{
    position: fixed;
    top: 8.5rem;
    right: 4rem;
    z-index: 1000;
    margin-left: auto;

    transition-duration: .5s;
    &::before{
        content: '';

        position: absolute;
        top: -15px;
        left: 0;
        
        transform: rotate(0deg);
        transition-duration: .25s;
        transition: transform 0.25s, top 0.25s .25s;
    }
    &::after{
        content: '';

        position: absolute;
        top: 15px;
        left: 0;

        transition-duration: .25s;
        transition: transform 0.25s, top 0.25s .25s;
    }
}
.header__menu-button--active{
    background-color: transparent;
    transition: .1s .25s;
    &::before{
        content: '';
        top: 0;
        transform: rotateZ(-45deg);

        transition: top 0.25s, transform .5s .25s;
    }
    &::after{
        content: '';
        top: 0;
        transform: rotateZ(45deg);

        transition: top 0.4s, transform .5s .25s;
    }
}
*/